//Colors
$color_primary: #ed2b2a;
$color_primary_light: #3f2e3e;
$color_primary_dark: #cd1818;
//#e7464680,
//#ed2b2a80 #d21312
$color-grey-light: #f7f7f7;
$color_grey: #777;
$color_white: #fff;
$color-black: #000;

//Grid
$grid-width: 134rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
